ThaDasher/.vs/ThaDasher/v15/Server/sqlite3/storage.ide-shm
ThaDasher/.vs/ThaDasher/v15/Server/sqlite3/db.lock
ThaDasher/.vs/ThaDasher/v15/Server/sqlite3/storage.ide
ThaDasher/.vs/ThaDasher/v15/Server/sqlite3/storage.ide-wal
*.cache
*.lock
*.ide
*.ide-shm
*.ide-wal
*.pdb
*.suo
*.pdb
*.resources
Dashloris-X/obj/Release/DashlorisX.exe
Dashloris-X/obj/Release/DashlorisX.pdb
Dashloris-X/obj/Release/DashlorisX.Properties.Resources.resources
Dashloris-X/obj/Release/*.*
Dashloris-X/obj/*
Dashloris-X/bin/*
Dashloris-X/bin
Dashloris-X/bin/
Dashloris-X/bin/*.*
Dashloris-X/obj/Release/*
Dashloris-X/obj/Release/DashlorisX.exe
*.config
